altgraph
backports-abc
bdist-mpkg
beautifulsoup4
boto
breadability
bz2file
certifi
chardet
Cython
dill
docopt
funcsigs
gensim
joblib
lxml
macholib
matplotlib
mock
modulegraph
nltk
nose
numpy
pandas
pbr
protobuf
py2app
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
singledispatch
six
smart-open
sumy
tensorflow
tornado
ujson
virtualenv
xattr
zope.interface